# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/vcproj/*
/src/ArmaScriptProfiler/x64
.vs
/src/ArmaScriptProfiler/Release
/src/ArmaScriptProfiler/Debug
/release
/src/x64
/src/Debug
/src/ArmaScriptProfiler.vcxproj.user
/src/Release
/out
*.biprivatekey

# CLion
.idea/
cmake-build-*/

# HEMTT
.hemtt/local
addons/*.pbo
keys/*
releases/*