[submodule "intercept"]
	path = intercept
	url = https://github.com/intercept/intercept.git
[submodule "tracy"]
	path = tracy
	url = https://github.com/dedmen/tracy.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
